@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared style  */
.display-flex{
  display: flex;
}

.btn-primary{
  background-color: #ff900e;
  color: wheat;
  padding: 15px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  margin-bottom: 2rem;
  border-radius: 5px;
}

/* header style  */
.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

/* navber releted stye  */

.brand{
  font-weight:700;
  font-size: 2.2rem;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-left: 30px;
 }

.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1240px;
  margin: 0 auto;
}
/* banner reletet style  */
.banner-conent{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
 }

 .banner-description{
  margin-bottom: 20px;
 }
.banner-title{
  font-weight: 600;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}

