@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared style  */
.display-flex{
  display: flex;
}

.btn-primary{
  background-color: #ff900e;
  color: wheat;
  padding: 15px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  margin-bottom: 2rem;
  border-radius: 5px;
}

main{
max-width: 1200px;
  margin: 0 auto;
}

main>section{
  margin-top: 130px;
}

.section-title{
  font-size: 2.8rem;
 font-weight: 700;
}


/* header style  */
.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.text-primary{
  color: #ff900e;
}

/* navber releted stye  */
.navbar{
    padding-top: 20px;
    padding-bottom: 25px;

}
.brand{
  font-weight:700;
  font-size: 2.2rem;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-left: 30px;
 }

.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1240px;
  margin: 0 auto;
}
/* banner reletet style  */
.banner{
  padding-top: 5rem
}
.banner-conent{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
 }

 .banner-description{
  margin-bottom: 20px;
 }
.banner-title{
  font-weight: 600;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.banner-image{
  width: 100%;
}
/* team fetural releted design */

.teams{
align-items: center;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}

.our-features p{
  margin-top: 15px;
  margin-bottom: 20px;
}


#quick-list{
  font-weight: 400;
  font-size: 45px;
}

/* some-facts  */
/* some-facts */
.full-fact-section{
  text-align: left;
}

.full-fact-section p{
  margin: 15px 0 60px;
  max-width: 550px;
}

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: center;
}

.fact-card{
  border: 1px solid #FF900E;
  width: 220px;
  height: 220px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-icon{
  width: 45px;
  margin-bottom: 10px;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  color: #424242;
  margin: 10px 0;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
}


/* sponsor releted styles */
 .responser-info{
  max-width: 540px;
  margin: 0 auto 50px;
  text-align: center;
}

.responser-info h3{
  margin-bottom: 15px;
}

.responser-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 40px;
}

.responser-company img{
  filter: grayscale(100%);
  max-width: 120px;
}





















/* Resposive Media Query */
@media  screen and (max-width:576px){
  
  .navbar, .nav-link, .teams{
    flex-direction: column;
  
  }
  .team-image-container, .facts-container{
    grid-template-columns: repeat(1, 1fr);

  }

  .responser-company{
    justify-items: center;
    gap: 50px;
  }
  .our-features{
  margin-left: 20px;
  }

  .facts-container{
    justify-items: center;
    gap: 24px;
  }

  
  .responser-company{
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    justify-items: center;
  }

}


} 
/* mediam size device */
 @media screen and (min-width: 576px) and (max-width: 992px){

  .teams{
    flex-direction: column;  
    text-align: center;
  }

  .team-image-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .our-features{
    
    margin-left: 0;          
    margin-top: 10px;      
    max-width: 100%;
    text-align: center;
  }
}
