@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared style  */
.display-flex{
  display: flex;
}

.btn-primary{
  background-color: #ff900e;
  color: wheat;
  padding: 15px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  margin-bottom: 2rem;
  border-radius: 5px;
}

main{
max-width: 1200px;
  margin: 0 auto;
}

main>section{
  margin-top: 130px;
}
/* header style  */
.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.text-primary{
  color: #ff900e;
}

/* navber releted stye  */

.brand{
  font-weight:700;
  font-size: 2.2rem;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-left: 30px;
 }

.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1240px;
  margin: 0 auto;
}
/* banner reletet style  */
.banner-conent{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
 }

 .banner-description{
  margin-bottom: 20px;
 }
.banner-title{
  font-weight: 600;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}
/* team fetural releted design */

.teams{
align-items: center;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.feature-title{
  font-size: 2.8rem;
 

}

#quick-list{
  font-weight: 400;
  font-size: 45px;
}
/* Resposive Media Query */
@media  screen and (max-width:576px){
  
  .navbar, .nav-link, .teams{
    flex-direction: column;
  
  }
  .team-image-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
  margin-left: 20px;
  }

} 
/* mediam size device */
@media screen  and (min-width: 576px) and(max-width: 992px){
  .teams{
    flex-direction: column;
  }
.our-features{
  margin-left: 50px auto;
  }
  
}